body {
    background: #a0a0a0;
}

a{
    color:#2034a5;
}

a:hover{
    color: #162E27;
}

#logo {
    background-color: #797979;
    color: #000000;

}

#nav {
    background-color: #a0a0a0;

}

#content {
    background-color: #FFF;
}

#pagetitle {
    padding-top: 0.5em;
}

#footer {
    padding-top: 0.5em;
    background-color: #797979;
}

#message {
    display: none;
}

.callout-container {
    height: 400px;
    overflow-y: scroll;
}

.callout-wrapper {
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container img {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}
